@font-face{
    font-family: "Raleway";
    src: url("Raleway-regular.ttf");
}

body{
    font-family: Raleway, sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.logo_head{
    display: block;
    width: 200px;
}

img{
    width: 150px;
    height: auto;
}

.menu{
    display: flex;
    justify-content: flex-end;


}

.menu_accomodation{
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
}

#active{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

.menu_activities{
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
}

.menu_inscription{
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
    color: #0065FC;
    font-weight: bold;
}

.title{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.text_title{
    font-size: 14px;
    padding-bottom: 20px;
}

.search{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 290px;
    height: 30px;
    padding-left: 5px;
}

input{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 5px;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-right: none;
    border-left: none;
}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
    border-left: soolid 2px #F2F2F2;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button{
    background-color: #0065FC;
    border-right:  2px;
    border-top:  2px;
    border-bottom:  2px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.filter{
    display: flex;
    margin: 20px 0;
    font-weight: bold;
    }

.text-filter{
    padding-top: 12px;
    margin-right: 20px;
}

.eco{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 180px;
    padding: 10px 0;
    margin-right: 20px;
}

.eco:hover{
    background-color: #0065FC;
    color: white;
}
/*
.round{
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
*/
/*
.fa-money-bill-wave{
    color: #0065FC;
    padding-right: 5pxs;
}
*/

.text-eco{
    padding-left: 5px;
}

.family{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 150px;
    padding: 10px 0;
    margin-right: 20px;
}

.family:hover{
    background-color: #0065FC;
    color: white;
}

/*
.fa-child{
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #0065FC;
    padding-right: 5pxs;
}
*/
.text-family{
    padding-left: 5px;
}

.romantic{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 150px;
    padding: 10px 0;
    margin-right: 20px;
}

.romantic:hover{
    background-color: #0065FC;
    color: white;
}

/*
.fa-heart{
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #0065FC;
    padding-right: 5pxs;
    padding-left: 10pxs;
    padding-top: 2px;
    text-align: center;
}
*/
.text-romantic{
    padding-left: 5px;
}

.animals{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 210px;
    padding: 10px 0;
}

.animals:hover{
    background-color: #0065FC;
    color: white;
}

/*
.fa-dog{
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #0065FC;
    padding-right: 5pxs;
}
*/
.text-animals{
    padding-left: 5px;
}

.information{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-info{
    color: #0065FC;
    border: solid 2px black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-left: 5px;
}

.text-information{
    padding-left: 5pxs;
}

.accomodations{
    display: flex;
    justify-content: space-around;
}

.accomodation-marseille{
    border: solid 2px #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    max-width: 65%;
}

.text-accomodation-marseille{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.offer{
    border: solid 2px white;
    border-radius: 15px;
    background-color: white;
    width:300px;
    margin-top: 20px;
}

.photo{
    text-align: center;
}

.photo img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 99%;
}

.offer-title{
    font-weight: bold;
    padding-left: 5px;
}

.night-offer{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price{
    font-weight: bold;
}

.affich{
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.popular{
    border: solid 2px #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 25%;
}

.text-popular{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.popular-offer{
    display: flex;
    justify-content: space-around;
    border: solid 2px white;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    width: 85%;
    max-height: 30%;
}

.popular-photo img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popular-offer-title{
    font-weight: bold;
    padding-left: 10px;
}

.night-popular{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.activities{
    margin-top: 40px;
}

.text-activities{
    padding-bottom: 30px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

.act-offer{
    display: flex;
    justify-content: space-around;
}

.act-photo img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
}

.act-title{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 2px white;
    box-shadow: 0px 1px 04px #F2F2F2;
    width: 100%;
    font-weight: bold;
}

.act-details{
    width: 20%;
}

.act-sub-details1{
    padding-bottom: 30px;
}