@font-face{
    font-family: "Raleway";
    src: url("Raleway-regular.ttf");
}

html{
    font-size: 100%;
}

body{
    font-family: Raleway, sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.15fr;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 30px;
}

footer{
    background-color: #F2F2F2;
    margin-top: 40px;
}

.logo_head{
    display: block;
    width: 200px;
}

img{
    width: 150px;
    height: auto;
}

.menu{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.nav{
    margin-left: 30px;
}

.menu_accomodation{
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
}

#active{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

.menu_activities{
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
}

.menu_inscription{
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
    color: #0065FC;
    font-weight: bold;
}

.title{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.8rem;
}

.text_title{
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.search{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 40px;
    padding-left: 5px;
}

input{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 10px;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-right: none;
    border-left: none;
    font-size: 0.9rem;
    font-weight: bold;
}

::placeholder{
    color: black;
}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
    border-left: solid 2px #F2F2F2;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 25px;
}

button{
    background-color: #0065FC;
    border-right:  2px;
    border-top:  2px;
    border-bottom:  2px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-size: 0.9rem;
    padding: 0 10px;
}

.fas.fa-search{
    display: none;
}

.filters{
    display: flex;
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.1rem;
    }

.text-filters{
    padding-top: 12px;
    margin-right: 20px;
}

.filter{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 999px;
    padding: 10px 0;
    margin-right: 20px;
    position: relative;
}

.filter:hover{
    background-color: #0065FC;
    color: white;
}

.round{
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 40px;
    line-height: 40px;
    position: absolute;
    left: -4px;
    top: 0;
    text-align: center;
    color: #0065FC;
}

.text-filter{
    padding-left: 45px;
}

.eco{
    width: 160px;
}
.family{
    width: 130px;
}

.romantic{
    width: 160px;
}

.animals{
    width: 210px;
}

.information{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.circle{
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 50%;
    width: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
}


.text-information{
    padding-left: 40px;
    padding-top: 5px;
}

.accomodations{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.accomodation-marseille{
    border: solid 2px #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    max-width: 90%;
    order: 1;
}

.text-accomodation-marseille{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
}

a{
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.offer{
    border: solid 2px white;
    border-radius: 15px;
    background-color: white;
    width:290px;
    height: 210px;
    margin-top: 20px;
    margin-right: 20px;
}

.photo{
    text-align: center;
}

.photo img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 98%;
    height: 120px;
    object-fit: cover;
    padding-top: 2px;
}

.offer-title{
    font-weight: bold;
    padding-left: 15px;
}

.night-offer{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.eval-star-accomodation{
    padding-left: 10px;
}

.fa-star{
    padding-left: 5px;
    padding-bottom: 5px;
}

.blue1{
    color: #0065FC;
}

.blue2{
    color: #0065FC;
}

.blue3{
    color: #0065FC;
}

.blue4{
    color: #0065FC;
}

.blue5{
    color: #0065FC;
}

.grey4{
    color: #F2F2F2;
}

.grey5{
    color: #F2F2F2;
}

.price{
    font-weight: bold;
}

.affich{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.container-popular{
    padding: 0 20px;
}

.popular{
    border: solid 2px #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 28%;
    order: 2;
}

.text-popular{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
}

.fa-chart-line{
    text-align: right;
    padding-left: 120px;
    position: absolute;
    right: 20px;
}

.popular-offer{
    display: flex;
    border: solid 2px white;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 250px;
    position: relative;
}

.popular-photo img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 110px;
    height: 130px;
    object-fit: cover;
    padding-top: 2px;
    padding-bottom: 2px;
}

.popular-offer-title{
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

.night-popular{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.eval-star{
    position: absolute;
    bottom: 5px;
    padding-left: 30px;
}

.activities{
    margin-top: 40px;
    height: 500px;
    margin-bottom: 30px;
}

.text-activities{
    padding-bottom: 30px;
    padding-left: 40px;
    font-size: 1.6rem;
    font-weight: bold;
}

.act-offer{
    display: flex;
    justify-content: space-around;
}

.act-photo1 img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.act-photo2 img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.act-photo3 img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.act-photo4 img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.act-photo5 img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.act-title{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 2px white;
    box-shadow: 0px 1px 04px #F2F2F2;
    width: 100%;
    font-weight: bold;
    padding: 10px 10px;
}

.act-details{
    width: 20%;
}

.act-sub-details1{
    padding-bottom: 30px;
}

.pied{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.text-pied{
    padding-bottom: 12px;
    font-weight: bold;
}

.a-pied{
    padding-bottom: 7px;
}